.button{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 3vw;
  line-height: 24px;
  background: #B1B4FA;
  border-radius: 20px;
  padding: 2vw;
  box-shadow: none;
  display: flex;
  gap: 15px;
  cursor: pointer;
}