.fundo{
  background: #F1F1FE;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 80px;
  padding: 10px 80px;
  border-left: 1rem solid  #8573F3;
}


.text{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
}

.icons{
  display: flex;
  gap: 50px;
}
.checkBox {
  size: 20px;
}

.trash{
  cursor: pointer;
}

.eyes{
  cursor: pointer;
}