.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px
}

.h1{
  font-family: Ubuntu;
  font-size: 4.6vw;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}

.bola{
  margin-top: 20px;
  z-index: 1;
  position: relative;
}
.responsive {
  width: 80%;
  height: auto;
}

  