.h1{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 49px;
  line-height: 120%;
}

.alinha{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.inputBox input {
  margin: 0.6rem 0;
  padding: 1.2rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 0.8rem;
  background: #EFEFEF;
} 

.inputBox label{
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 31px;
  line-height: 24px;
}
.container{
  width: 65vw;
  height: 80vh;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.agrupa{
  display: flex;
  justify-content: space-between;
}
.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}