
.box{
    display: flex;
    flex-direction: column;    
    padding: 1.2rem 1rem;
    border: none;
    border-radius: 10px;
    width: 40vw;
    background: #EFEFEF;
  } 

  .propForms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  
  }

  .forms {
    background-color: white;
    padding: 5vw;
    height: auto;
  }

  