.h3{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 49px;
  line-height: 120%;
  text-align: center;
}

.alinha{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  gap: 75px;
}